* {
  font-family: Poppins, sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #e5e5e5;
}

nav {
  width: 550px;
  height: 70px;
  left: 0px;
  top: 0px;
  padding: 20px 36px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.logo {
  max-width: 100px;
}

.hero {
  display: flex;
  flex-direction: column;
}

.hero .img {
  max-width: 400px;
  align-self: center;
  margin-top: 20px;
}

.hero .title {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 39.6px;
  margin-bottom: 16px;
}

.hero .text {
  width: 320px;
  height: 56px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 17.6px;
  margin-top: 0;
  color: #222222;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 175px;
  font-size: 12px;
}

.cards .zaferes {
  align-self: center;
  border-radius: 9px;
  font-size: 12px;
  margin-right: 15px;
  margin-left: 15px;
}
.cards .zaferes .img {
  align-self: center;
  border-radius: 9px;
  font-size: 12px;
}
.cards .bike {
  align-self: center;
  width: 175px;
  border-radius: 9px;
  font-size: 12px;
  margin-left: 15px;
  margin-top: 20px;
}
.cards .bike .img {
  align-self: center;
  border-radius: 9px;
  font-size: 12px;
}

.cards .wedding {
  align-self: center;
  border-radius: 9px;
  font-size: 12px;
}
.cards .wedding .img {
  align-self: center;
  border-radius: 9px;
  font-size: 12px;
}

.cards .boxzaferes {
  font-size: 10.24px;
  line-height: 11.26px;
  position: absolute;
  width: 61px;
  height: 20px;
  left: 26px;
  top: 507px;
  background: #ffffff;
  border-radius: 2px;
  border: none;
}

.cards .boxwedding {
  font-size: 10.24px;
  line-height: 11.26px;
  position: absolute;
  width: 61px;
  height: 20px;
  left: 215px;
  top: 507px;
  background: #ffffff;
  border-radius: 2px;
  border: none;
}

.cards .star {
  height: 14px;
  width: 14px;
  border-radius: 0.5px;
}

.bold {
  font-weight: bold;
}

.grey {
  color: grey;
}
